extends layout

block content
  h1 #{headphone.model}

  div(style='margin-left:20px;margin-top:20px')

    h2 Brand: #{headphone.brand}
    h3 Description: #{headphone.description} 
    h4 Number in Stock: #{headphone.numberInStock}
