extends layout

block content
  h1 Delete Keyboard

  if keyboard
    p Do you really want to delete this Keyboard?

    form(method='POST' action='')
      div.form-group
        input#keyboardid.form-control(type='hidden', name='keyboardid', required='true', value=keyboard._id)
      button.btn.btn-primary(type='submit') Delete
  else
    p Keyboard not found.
