extends layout

block content
  h1 #{title}

  form(method='POST', action=`/catalog/mouse/${mouse._id}/update`)
    div.form-group
      label(for='brand') Brand:
      input#brand.form-control(type='text', placeholder='Brand' name='brand' value=(mouse ? mouse.brand : ''))

    div.form-group
      label(for='model') Model:
      input#model.form-control(type='text', placeholder='Model' name='model' value=(mouse ? mouse.model : ''))

    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='text', placeholder='Description' name='description') #{mouse ? mouse.description : ''}

    div.form-group
      label(for='price') Price:
      input#price.form-control(type='number', placeholder='Price' name='price' step='0.01' value=(mouse ? mouse.price : ''))

    div.form-group
      label(for='numberInStock') Number in Stock:
      input#numberInStock.form-control(type='number', placeholder='Number in Stock' name='numberInStock' value=(mouse ? mouse.numberInStock : ''))

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
