extends layout

block content
  h1 Delete Mouse

  if mouse
    p Do you really want to delete this Mouse?

    form(method='POST' action='')
      div.form-group
        input#mouseid.form-control(type='hidden', name='mouseid', required='true', value=mouse._id)
      button.btn.btn-primary(type='submit') Delete
  else
    p Mouse not found.
